<div class="modal-header">
  <table class="table">
    <thead>
      <tr>
        <th >Bill Description</th>
        <th >Paid by</th>
        <th >Amount</th>
        <th >Due Date</th>
      </tr>
    </thead>
    <tbody>
      <% @bills.each_pair do |user,bills| %>
        <% bills.each do |bill| %>
          <tr>
            <td> <%= bill.name %> </td>
            <td> <%= user.id %> </td>
            <td> <%= bill.amount %> </td>
            <td> <%= bill.due_date %> </td>
            <% if author_of(bill)%>
              <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' }%></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
