<div class="jumbotron center">
  <h1>Tasks for <%= @date.strftime('%A %b %d') %></h1>
  <p> There are <strong> <%= @tasks.length %> </strong> tasks due on this day </p>
</div>

<br>

<div class = "row">
  <% @tasks.each do |task| %>
    <div class="card col-sm-6 border <%= 'border-primary' if task.priority == 1 %> <%= 'border-warning' if task.priority == 2 %> <%= 'border-danger' if task.priority == 3 %>" style="width: 36rem;"> 
      <div class="card-header">
        <%= task.name %>
      </div>
      <div class="card-body">
        <h5 class="card-title"> Description: </h5>
        <p class="card-text"> <%= task.description %> </p>
        <br>
        <h5 class="card-title"> Users: </h5>
      </div>
      <ul class="list-group list-group-flush">
        <% @users[task.id].each do |user| %>
          <li class="list-group-item"><%= user.name %></li>
        <% end %>
      </ul>
      <div class="card-body center">
        <%= link_to "Edit Task", edit_task_path(id: task.id), class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>
</div>



