<% if logged_in? %>
  <div class="center main-jumbo">
    <div class="jumbotron">
      <h1><%= @date.strftime('%A %b %d') %></h1>

      <h3> Welcome Back! </h3>

      <h3> There are <strong> <%= @tasks_test[0].length %> </strong> tasks due today </h3>

      <% if @tasks_test[0].length > 0 %>
        <%= link_to "Click here to view tasks", display_path(date: @date.to_s, ids: @tasks_test[0].join("-")), class: 'btn btn-primary btn-lg' %>
      <% end %>

      <%# <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

          </div>
        </div>
      </div> %>

    </div>
  </div>

  <h1>Upcoming Tasks</h1>

  <div class="testimonial-group">
    <div class="row text-center">
      <% (1..7).each do |future_day| %>
        <div class="col-4">
          <div class="col-spaced rounded">
            <h2 class="date-text"> <%= (@date+future_day).strftime('%a %b %d') %> </h2>
            <h3> <strong> <%= @tasks_test[future_day].length %> </strong> tasks due </h3>
            <% if @tasks_test[future_day].length > 0 %>
              <%= link_to "View Tasks", display_path(date: (@date+future_day).to_s, ids: @tasks_test[future_day].join("-")), class: 'btn btn-primary btn-lg'%>
            <% else %>
              <button type="button" class="btn btn-primary btn-lg" disabled>No Tasks</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="center">
    <%= link_to "Create a new task", new_task_path, class: 'btn btn-primary btn-lg' %>
  </div>

<% else %>

  <div class="center main-jumbo">
    <div class="jumbotron">
      <h1>Welcome To YourTurn!</h1>
      <h3> YourTurn allows you to seamlessly manage a multitude of house tasks and responsibilities amongst your housemates! </h3>
      <p> It appears that you aren't logged in. Use the button below to sign up or click the log in button at the top of the page. </p>
      <%= link_to "Sign Up", signup_path , class: 'btn btn-primary btn-lg' %>      
    </div>
  </div>
  
<% end %>
