

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">House_ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr scope="row">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password  %></td>
        <td><%= user.house_id  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Houses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Admin_ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr scope="row">
        <td><%= house.name %></td>
        <td><%= house.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>