<!-- Page content-->
<section class="py-5">
  <div class="container px-5">
    <!-- Contact form-->
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
          <h1 class="fw-bolder">New Task</h1>
          <p class="lead fw-normal text-muted mb-0">Create a task with conditions</p>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
              <%= form_with(model: @task, local: true) do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>

                <%= f.label :description %>
                <%= f.text_field :description, class: 'form-control' %>

                <%= f.label :priority %>
                <%= f.number_field :priority, in: 1.0..3.0, class: 'form-control' %>

                <%= f.label :due_date %>
                <%= f.date_select :due_date %>

                <%= f.label :users %>
                <p> Hold the shift key to select multiple users </p>
                <%= f.select(:users, @users.collect {|u| [ u.name, u.id ] }, {}, { :multiple => true, :size => 5 }) %>
                <%# f.select(:users, @users, { :prompt => "Select who is responsible for this task"}, { :multiple => true }) %>

                <%= f.submit "Create task", class: "btn btn-primary" %>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</section>