<!-- Page content-->
<section class="py-5">
  <div class="container px-5">
    <!-- Contact form-->
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
          <h1 class="fw-bolder">Welcome</h1>
          <p class="lead fw-normal text-muted mb-0">您好 Bonjour  こんにちは  Hola  Hello</p>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
              <%= form_with(model: @user, local: true, multipart: true) do |f| %>
                <%= render 'shared/error_messages' %>

                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>

                <div class="mb-6">
                  <%= f.label :profile_pic, "Profile Picture!", class: "label"%>
                  <%= f.file_field :profile_pic %>
                </div>
                <br>
                <%= f.submit "Create my account", class: "btn btn-primary" %>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</section>