<% provide(:title, @user.name) %>

<% if @user.house_id == 1%>
  <br>
  <br>
  <div class="text-center">
    <%= link_to 'Create Your House!', new_house_path, :class => "btn btn-outline-primary"%> 
  </div>
  <div class="text-center">
    <%= link_to 'Join a House!', edit_user_path, :class => "btn btn-outline-primary" %>
  </div>
  <br>
  <br>
<% else %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <% if @user.profile_pic.present? %>
            <div><%= image_tag(@user.profile_pic, height: '30%', width: '30%') %></div>
          <% end %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
  <div>
    <%= link_to 'Go to a new House!', edit_user_path %>
  </div>
<% end %>
