<% provide(:title, @user.name) %>

<% if @user.house_id == 1%>

  <div>
  <%= link_to 'Create Your House!', new_house_path %> 
  </div>
  <div>
  <%= link_to 'Join a House!', edit_user_path %>
  </div>
<% else %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
  <div>
    <%= link_to 'Go to a new House!', edit_user_path %>
  </div>
<% end %>
