<h1>New Bill</h1>

<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @bill, local: true, multipart: true) do |f| %>
      <%= render 'shared/bill_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :amount %>
      <%= f.text_field :amount, class: 'form-control' %>

      <%= f.label :due_date %>
      <%= f.date_select :due_date %>

      <div class="mb-6">
        <%= f.label :thumbnail, "Bill Thumbnail", class: "label"%>
        <%= f.file_field :thumbnail %>
      </div>

      <%= f.submit "Create my bill", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>