<h1>New Bill</h1>

<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @bill, local: true) do |f| %>
      <%= render 'shared/bill_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :amount %>
      <%= f.text_field :amount, class: 'form-control' %>

      <%= f.label :due_date %>
      <%= f.date_select :due_date %>

      <%= f.label :users %>
      <p> Hold the shift key to select multiple users </p>
      <%= f.select(:users, @users.collect {|u| [ u.name, u.id ] }, {}, { :multiple => true, :size => 5 }) %>

      <%= f.submit "Create my bill", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>