<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Your Turn", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Bill",   bill_path %></li>
        <li><%= link_to "Appliance", appliance_path %></li>
        <li><%= link_to "Setting", setting_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>