<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
         <%= link_to "YourTurn",  root_path, :class => "navbar-brand mb-0 h1"%>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if logged_in? %>
            <li class="nav-item ">
              <%= link_to "Home",  root_path, :class => "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Bill", billing_path, :class => "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Appliance", appliances_url, :class => "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Message", posts_path, :class => "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", logout_path, :class => "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log in", login_path, :class => "nav-link"%>
            </li>
          <% end %>
        </ul>
        </div>
    </nav>
  </div>
  
</header>